
.detail-container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

.favorite-area {
  display: grid;
  justify-items: start;
  align-items: center;
}

article {
  margin: 30px;
}

.message-body {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr;
}

img {
  height: 100px;
  width: 100px;
  border-radius: 8px;
}

.image-area {
  display: grid;
  justify-items: end;
  align-items: center;
}

.fas.fa-star {
  cursor: pointer;
  color: grey;
  font-size: 45px;
  transition: all 0.3s;
}

.fas.fa-star:hover {
  color: var(--base-yellow);
  font-size: 50px;
}
