
.detail-container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

.favorite-area {
  display: grid;
  justify-items: start;
  align-items: center;
}

article {
  margin: 30px;
}

.message-body {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 2fr 1fr;
}

img {
  height: 100px;
  width: 100px;
  border-radius: 8px;
}

.image-area {
  display: grid;
  justify-items: end;
  align-items: center;
}

.fas.fa-star {
  cursor: pointer;
  color: grey;
  font-size: 45px;
  transition: all 0.3s;
}

.is-favorite {
  color: var(--base-yellow) !important;
}


@media (max-width: 500px) {
  .detail-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
  }

  .message-body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .image-area {
    margin-top: 20px;
  }
}
