

<div class="favorite-container">
  <div></div>

  <h2 *ngIf="favoritesArray.length === 0" class="is-size-2">No Hay Favoritos</h2>
  <h2 *ngIf="favoritesArray.length > 0" class="is-size-2">Favoritos</h2>

  <article *ngFor="let favorite of favoritesArray" class="message is-warning">
    <div class="message-header">
      <p>{{ favorite.login }}</p>
      <button
        (click)="onDelete( favorite )"
        class="delete"
        aria-label="delete"
      ></button>
    </div>
    <div class="message-body">
      Nombre: {{ favorite.name }}
    </div>
  </article>

  <div></div>
</div>


