
<div *ngIf="users" class="order-buttons-container">

  <a (click)="onSort( 'asc' )" class="button is-primary is-outlined">Ordenar</a>

  <div class="field">
    <div class="control">
      <div class="select is-primary">
        <select #selectElement>
          <option>Ascendente</option>
          <option>Descendente</option>
        </select>
      </div>
    </div>
  </div>
  
</div>

<div class="user-list-container">
  <article
    *ngFor="let user of users"
    (click)="onDetail( user.apiUrl )"
    class="message is-warning"
  >
    <div class="message-header">
      <p>{{ user.login }}</p>
    </div>
    <div class="message-body">
      {{ user.htmlUrl }}
    </div>
  </article>
</div>

