
<div *ngIf="users" class="order-buttons-container">

  <a (click)="onSort( 'asc' )" id="order-button" class="button is-primary is-outlined">Ordenar</a>

  <div class="field">
    <div class="control">
      <div class="select is-primary">
        <select #selectElement>
          <option>Ascendente</option>
          <option>Descendente</option>
        </select>
      </div>
    </div>
  </div>

</div>

<div class="user-list-container">

  <article
    *ngFor="let user of users"
    class="message is-warning"
  >
    <div class="message-header">
      <p [innerHTML]="user.login | highlightMatch:matchTerm"></p>
      <img [src]="user.avatarUrl" alt="">
    </div>
    <div class="message-body">
      <a [href]="user.htmlUrl" target="_blank">Perfil GitHub</a>
      <a (click)="onDetail( user.apiUrl )">Ver Detalles</a>
    </div>
  </article>
</div>

