
.user-list-container {
  margin: 30px;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.order-buttons-container {
  display: flex;
  justify-content: flex-end;
  padding: 0 50px;
}

#order-button, .field {
  margin: 0 10px;
}

#order-button:hover {
  background-color: var(--base-yellow);
}

.message-body {
  display: flex;
  flex-direction: column;
}

.message-body > a {
  margin: 5px 0;
}

img {
  height: 30px;
  width: 30px;
  border-radius: 30%;
}

.hl {
  background: var(--base-green);
  border-radius: 10%;
}

@media (max-width: 500px) {
  .user-list-container {
    margin: 30px;
    display: flex;
    flex-direction: column;
  }

  .order-buttons-container {
    justify-content: center;
  }
}
