
<div class="main-container">
  <app-navigate-back class="nb"></app-navigate-back>

  <div class="card">
    <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
      <div class="card-content">
        <input
          formControlName="search"
          id="search-input"
          class="input is-primary"
          placeholder="Ingrese Búsqueda"
          type="text"
        >
        <button
          class="button is-primary"
        >Buscar
        </button>
      </div>
    </form>
  </div>


    <div>
      <app-message [messageText]="message"></app-message>
    </div>

</div>


