
* {
  box-sizing: border-box;
}

:root {
  --base-green: #00d1b2;
  --base-yellow: #ffdd57;
  --base-blue: #0095EE;
}

html,
body {
  height: 100%;
  position: relative;
}

a {
  color: var(--base-green) !important;
  text-decoration: none !important;
}

a:active {
  color: var(--base-blue) !important;
}
